.Logo {
   box-sizing: border-box;
   border-radius: 5px;
   height: 100%;
}

.Logo img {
   height: 100%;
}

.AuthLogo {
   height: 30vh;
   width: 50vw;
   margin: 0 auto 4vh;
}

.ToolbarLogo {
   height: 100%;
}